.navbar {
    background-color: var(--mantle);
    display: flex;
	position: fixed;
	width: 100%;
    align-items: center;
    height: 60px;
}

@media (max-width: 300px) {
    .navbar a {
        font-size: 75%;
    }
	.github-icon svg {
        width: 18px; /* Reduce the size of the SVG icons on small screens */
		height: 18px;
    }
}
@media (min-width: 300px) {
    .navbar a {
        font-size: 100%;
    }
	.github-icon svg {
        width: 24px; /* Reduce the size of the SVG icons on small screens */
		height: 24px;
    }
}

@media (max-width: 600px) {
    .navbar a {
        padding: 0px 5px; /* Add padding only on small screens */
    }
	.navbar {
        padding-left: 5px;
    }
}

@media (min-width: 600px) {
    .navbar a {
        padding: 0px 20px; /* Add padding only on small screens */
    }
	.navbar {
        padding-left: 15px;
    }
}

.navbar a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--yellow);
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: var(--crust);
}

.navbar a:hover::before {
    transform: scaleY(1);
    height: 4px;
}

.github-icon {
    margin-right: 10px;
    position: relative;
}

.discord-icon {
    margin-left: auto;
    margin-right: 0px;
	position: relative;
	transform: translateY(4px); /* Adjust this value to offset the SVG vertically */
}

.discord-tooltip {
    position: absolute;
    bottom: -30px; /* Adjust the distance of the tooltip from the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.discord-icon:hover .discord-tooltip {
    visibility: visible;
    opacity: 1;
}

.discord-icon-placeholder  {
    margin-left: auto;
    margin-right: 0px;
	height: 100%;
	position: relative;
}